@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-padrao: #f0dda5;
    --cor-padrao-hover: #FAF9F6;
    --cor-fonte: #000000;
    --cor-fonte-p: #555;
    --cor-btn: #563434;
    --cor-btn-hover:#15ff00;
    --cor-btn-fonte:#000;
    --cor-fonte-corpo:#555;
    --cor-fonte-corpo-leve:#777;
}

body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 0.4px solid #000000;
    
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a{
    text-decoration: none;
    color:var(--cor-fonte);
}

.banner p{
    color: var(--cor-fonte);
}

p{
    color: var(--cor-fonte-p);
}

.linha{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;   
}

.col-2 img{
    max-width: 110%;
    padding: 50px 1;
}

.col-2 h1{
    font-size: 42px;
    line-height: 60px;
    margin: 25 0;
}

.col-2 p{
    font-weight: 600;
    color: var(--cor-btn-fonte)
}

.btn{
    text-decoration: none;
    color:#FAF9F6;
    background: #302d1b;;
    padding: 8px;
    border-radius: 30px;
    transition: background 200ms;
}

.btn:hover{
    background: #16150c;
}

